language: node_js
services: elasticsearch
node_js:
  - "8"
before_install:
  - npm i -g npm@latest
  - npm i
install:
  - npm run lint
  - npm run build
script:
  - npm run test
after_success:
  - npm run coveralls